#seccion-galeria-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}


#h2-galeria {
    margin: 0;
    font-family: 'NeoTech';
    font-size: 2rem;
    color:#fff;
    text-align: center;
    margin-top: 5rem;
}

.logo-container {
    text-align: center;
    margin-top: var(--navbar-height);
}

.logo-mobile {
    max-width: 120px;
    height: auto;
}

/* Estilo modificado para la galería de imágenes */
.gallery-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; /* Espacio reducido entre imágenes */
    padding: 10px; /* Relleno reducido */
    max-width: 1200px;
    margin: 0 auto; /* Centra la galería en la página */
    padding: 20px;
}

.columna-galeria-mobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
}

.gallery-item-mobile {
    position: relative; /* Para posicionar el overlay */
    overflow: hidden; /* Evita que el contenido salga del contenedor */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.sinZoom img {
    width: 100%;
    /*Lasimágenesocupantodoelanchodelcontenedor*/height: auto;
    object-fit: cover;
    /*Aseguraquelaimagenocupetodoelcontenedorsindeformarse*/display: block;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.conZoom img {
    width: 100%;
    transform: scale(1.1);
    /*Efectodezoom*/object-fit: cover;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.sinZoom .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.conZoom .details {
    opacity: 1; /* Muestra los detalles al pasar el cursor */
}

