#h2-galeria {
    margin: 0;
    font-family: 'NeoTech';
    font-size: 2rem;
    color:#fff;
    text-align: center;
    margin-bottom:2rem;
}

.logo-container {
    text-align: center;
    margin-top: var(--navbar-height);
    padding: 2rem 0;
}

.logo {
    max-width: 120px;
    height: auto;
}

/* Estilo modificado para la galería de imágenes */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; /* Espacio reducido entre imágenes */
    padding: 10px; /* Relleno reducido */
    max-width: 1200px;
    margin: 0 auto; /* Centra la galería en la página */
    padding: 20px;
}

.columna-galeria{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
}

.gallery-item {
    position: relative; /* Para posicionar el overlay */
    overflow: hidden; /* Evita que el contenido salga del contenedor */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%; /* Las imágenes ocupan todo el ancho del contenedor */
    height: auto;
    object-fit: cover; /* Asegura que la imagen ocupe todo el contenedor sin deformarse */
    display: block;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1); /* Efecto de zoom */
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover .details {
    opacity: 1; /* Muestra los detalles al pasar el cursor */
}

