.hero, #seccion-espiritu {
  font-family: 'NeoTech';
  display: flex;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.hero-content, #texto-espiritu {
  display: flex;
  min-height: min-content;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding: 0 7rem;
  text-align: center;
  color: #fff;
}
 .titulos-hero{
  font-size: 2rem;
 }

.hero-logo{
  width: 50%;
}

.hero-content p, #texto-espiritu p {
  color:aliceblue;
  text-align:justify;
  font-family: 'Leelawadee';
  font-size: 2.5svh;
}

.hero-image {
  display: block;
  height: auto;
  object-fit: cover;
}


.hero-button {
  margin-top: 2rem;
font-family: 'NeoTech';
padding: 1rem 2rem;
background-color: #d4bd51;
color: white;
border: none;
border-radius: 5px;
font-size: 2rem;
cursor: pointer;
transition: transform 200ms; 
white-space: nowrap;
}

.hero-button a {
text-decoration: none;
}

#divisor{
height: 100px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
color:#1e1e1e;
}

#divisor h1{
font-family: 'NeoTech';
font-size: 3rem;
color:#1e1e1e;
}



